body {
    background-color:rgb(31, 29, 29);
    background-image:linear-gradient(rgb(31, 29, 29),rgba(211, 209, 209, 0.678))
}
a:visited{
    text-decoration:none;
    color:inherit;
}
a:link{
    text-decoration:none;
}

.first {
    list-style-type: none;
    margin: 0%;
    margin-left:-2%;
    padding: 0%;
    padding-left:2%;
    overflow: hidden;
    background-color: #333;
    position:fixed;
    top:0%;
    width:100%;
}
li{
    display: block;
    color: white;
    text-align: center;
    padding: 1.02% 1%;
    text-decoration: none;
    float:right;
}
li:hover:not(#active){
    background-color:rgba(121, 118, 118, 0.719);
}
#active{
    background-color:rgb(58, 58, 58);
}
#two{
    padding-right:2.6%;
}
#welcome{
    font-family:'Courier New', Courier, monospace;
    color:white;
    font-size:500%;
    text-align:center;
    margin-top:45%;
    margin-bottom:-10%;
}
#me{
    color:white;
    margin-left:15%;
    margin-right:15%;
    margin-top:70%;
    margin-bottom:10%;
    background-color:rgba(211, 209, 209, 0.568);
    box-shadow: 10px 20px #686868;
}
#sec{
    margin:7%;
    padding-top:8%;
    padding-bottom:3%;
}
#ab{
    line-height:220%;
    margin-left:50%;
    margin-top:-28%;
    margin-bottom:10%;
    margin-right:0%;
    font-size:100%;
}
#sep{
    margin-left:0%;
}
#pic{
    width:45%;
    height:35%;
}
blockquote {
    border:none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top:23%;
    font-size:280%;
    color:rgb(229, 226, 226);
    quotes: "\201C""\201D""\2018""\2019";
    text-align:center;
}
blockquote h3:before{
    content:open-quote;
    font-weight:bold;
}
blockquote h3:after{
    content:close-quote;
    font-weight:bold;
}